@import "./assets/_extends";
@import "./assets/_mixin";
@import "./assets/_fonts";
$mainColor: #00b982;
$whiteColor: #ffffffed;
$gray: rgb(119, 119, 119);
$black: rgba(0, 0, 0, 0.9);
$darkBlack: rgba(0, 0, 0, 0.4);
body {
  padding: 0px;
  margin: 0px;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Verdana;
}
a {
  color: #fff;
  text-decoration: none;
}
h2 {
  color: $mainColor;
  text-align: center;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
header {
  background-color: $mainColor;
  color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: #000 0px 0px 10px 0px;
  nav {
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    @include md {
      flex-direction: column
    }
    .logo {
      @extend %flex-row;
      width: 250px;
      justify-content: space-around;
      align-items: center;
      @include md {
        width: 100%;
        height: 75px;
      }
      .menu__btn {
        cursor: pointer;
        height: 100%;
        padding: 5px;
        transition: .5s, background-color 0s linear;
        display: none;
        @include md {
          display: flex;
          align-items: center;
        }
        &.active {
          span {
            transform: rotate(90deg);
            background-color: $mainColor;
            &::before {
              top: 0px;
              transform: rotate(45deg);
            }
            &::after {
              top: 0px;
              transform: rotate(-45deg);
            }
          }
        }
        &-block {
          width: 30px;
          height: 18px;
          display: flex;
          align-items: center;
          position: relative;
          span {
            &, &::before, &::after {
              display: block;
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #616161;
              transition: .5s;
            }
            &::before {
              content: '';
              top: -8px;
            }
            &::after {
              content: '';
              top: 8px;
            }
          }
        }
      }
      span {
        color: $mainColor;
      }
    }
    .links {
      width: 600px;
      overflow-y: hidden;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @include md {
        min-width: 100%;
        width: 100%;
        max-height: 0px;
        background-color: $mainColor;
      }
      &.open {
        @include md {
          max-height: 200px;
        }
      }
      ul {
        padding: 0px;
        margin: 0px;
        @extend %flex-row;
        list-style: none;
        justify-content: space-around;
        @include md {
          flex-direction: column;
        }
        li {
          a {
            padding: 25px 0px;
            display: flex;
            transition: .5s;
            &.active {
              color: #001b13;
            }
            @include md {
              padding: 15px 0px 15px 20px;
            }
          }
        }        
      }
    }
  }
}
#home {
  background-image: url(../img/bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .title {
    width: 980px;
    color: $whiteColor;
    text-align: center;
    padding: 15px 0px;
    font-size: 40px;
    // background-color: $mainColor;
    background-color: transparentize($mainColor, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 75px;
    @include md {
      width: auto;
      margin: 0px 15px;
      padding: 15px 5px;
      font-size: 25px;
      letter-spacing: 0px;
    }
  }
  .home__block {
    background-color: #00000052;
    width: 670px;
    padding: 35px 20px;
    color: $whiteColor;
    font-size: 25px;
    position: relative;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    @include md {
      width: auto;
      margin: 0px 10px;
      font-size: 19px;
    }
    &-title {
      text-align: center;
      background-color: $mainColor;
      color: #fff;
      padding: 15px 20px;
      position: absolute;
      top: -25px;
      left: -25px;
      @include sm {
        left: -10px;
      }
    }
    &-inner {
      display: flex;
      flex-direction: row;
      .text {
        p {
          margin: 0px;
        }
      }
      a {
        background-color: $mainColor;
        height: 30px;
        padding: 10px 20px;
        position: absolute;
        right: -25px;
        bottom: -25px;
        @include sm {
          right: -10px;
        }
      }
    }
  }
}
#about {
  text-align: center;
}
#photo {
}
.owl-nav {
  text-align: center;
  padding: 20px 0px;
}
#feature {
  img {
    margin: auto;
    display: block;
    @include sm {
      width: 100%;
      padding: 0px 10px;
      box-sizing: border-box
    }
  }
}
#advantages {
  .wrapper {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: center;
    .advantages__block {
      background-color: $mainColor;
      color: #fff;
      width: calc((100% / 3) - (15px * 2));
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      box-sizing: border-box;
      margin: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      @include md {
        width: calc((100% / 2) - (15px * 2));
      }
      @include sm {
        width: calc(100% - (15px * 2));;
      }
      &-img {
        height: 115px;
        width: 115px;
        margin: 0px auto;
        padding: 30px 0px;
      }
      &-title {
        text-align: center;
        padding-top: 20px;
      }
      &-info {
        text-align: center;
        padding: 0px 20px;
      }
    }
  }
}
#form {
  background-color: $black;
  .wrapper {
    .form__block {
      text-align: center;
      &-title {
        color: $mainColor;
        font-size: 35px;
        padding: 50px 0;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
          background-color: $darkBlack;
          height: 35px;
          width: 700px;
          margin: 5px auto;
          border: none;
          outline: none;
          padding-left: 20px;
          color: #fff;
          @include md {
            width: calc(100% - (20px * 2));
            margin: 5px 10px;
          }
        }
        textarea {
          background-color: $darkBlack;
          color: #fff;
          border: none;
          outline: none;
          height: 135px;
          width: 680px;
          padding: 10px 20px;
          display: flex;
          align-items: flex-start;
          margin: 5px auto !important;
          resize: none;
          @include md {
            width: calc(100% - (20px * 3));
            margin: 5px 10px;
          }

        }
        input[type="submit"] {
          margin: 5px auto;
          background-color: $mainColor;
          height: auto;
          width: auto;
          text-align: center;
          padding: 10px 30px;
          color: #fff;
        }
      }
    }
  }
}
#contact {
  background-color: $mainColor;
  .wrapper {
    .contact__block {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding: 100px 20px;
      &-title {
        font-size: 35px;
      }
      .bold {
        font-weight: bold;
      }
    }
  }
}